.user-card {
  width: 117px;
  height:117px;
  border: 1px solid green;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center; 
  padding: 3px;
  margin: 10px; /* 간격을 조정합니다 */
}

.app-container {
  display: flex;
  flex-direction: row;
  padding: 30px;
  text-align: center; 
}

.input {
  display: flex;
  padding: 30px;
  justify-content: center;
  text-align: center;
}

.h1 {
  display: flex;
  justify-content: center;
  text-align: center; 
}
